ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
  
a {
    text-decoration: none;
}
  
img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}