$primaryColor: #ffffff;
$secondaryColor: #9C69E2;
$accentColor: #F063B8;
$primaryTextColor: #212353;
$secondaryTextColor: #4B5D68;

$mainFont: "Helvetica", sans-serif;
$secondFont: "Avenir", sans-serif;